openapi: 3.0.0
info:
  title: ArvanCloud CDN Services
  version: 4.99.2
  x-logo:
    url: /images/other/arvan-api-docs-logo.svg
    backgroundColor: white
    altText: ArvanCloud
servers:
- description: Production server (uses live data)
  url: https://napi.arvancloud.ir/cdn/4.0
security:
- UserToken: []
- ApiKey: []
paths:
  /domains:
    get:
      description: "Leaving the 'search' empty, will return all domains. Otherwise,\
        \ it will filter domains containing the search keyword."
      operationId: domains.index
      parameters:
      - description: Search term
        explode: true
        in: query
        name: search
        required: false
        schema:
          type: string
        style: form
      - description: Set how many items returned per page
        explode: true
        in: query
        name: per_page
        required: false
        schema:
          type: integer
        style: form
      - description: Set the desired page number
        explode: true
        in: query
        name: page
        required: false
        schema:
          default: 1
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/domains_index_200_response'
          description: Lists all domains belongs to the account
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageResponse'
          description: Access token is missing or invalid
      summary: Get the list of domains
      tags:
      - Domain
  /domains/dns-service:
    post:
      operationId: domains.store
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DomainStore'
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DomainResponse'
          description: Successfully created the new domain
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageResponse'
          description: Access token is missing or invalid
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/domains_store_422_response'
          description: The given data was invalid
      summary: Create new domain
      tags:
      - Domain
  /domains/{domain}:
    delete:
      operationId: domains.destroy
      parameters:
      - description: Domain name
        example: example.com
        explode: false
        in: path
        name: domain
        required: true
        schema:
          format: hostname
          type: string
        style: simple
      - explode: true
        in: query
        name: id
        required: true
        schema:
          format: uuid
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageResponse'
          description: Successful
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageResponse'
          description: Access token is missing or invalid
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/domains_show_404_response'
          description: Resource not found
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/domains_store_422_response'
          description: The given data was invalid
      summary: Remove the domain
      tags:
      - Domain
    get:
      operationId: domains.show
      parameters:
      - description: Domain name
        example: example.com
        explode: false
        in: path
        name: domain
        required: true
        schema:
          format: hostname
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DomainResponse'
          description: Detailed information of the domain
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageResponse'
          description: Access token is missing or invalid
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/domains_show_404_response'
          description: Resource not found
      summary: Get information of the domain
      tags:
      - Domain
  /domains/{domain}/ns-keys:
    delete:
      operationId: domains.nameservers.reset
      parameters:
      - description: Domain name
        example: example.com
        explode: false
        in: path
        name: domain
        required: true
        schema:
          format: hostname
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NsKeysResponse'
          description: Successfully reset to deafult NS values
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageResponse'
          description: Access token is missing or invalid
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/domains_show_404_response'
          description: Resource not found
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageResponse'
          description: Failed
      summary: Reset custom Nameserver keys to the default values for the domain
      tags:
      - Domain
    put:
      operationId: domains.nameservers.set
      parameters:
      - description: Domain name
        example: example.com
        explode: false
        in: path
        name: domain
        required: true
        schema:
          format: hostname
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NsKeys'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NsKeysResponse'
          description: Successfully set custom NS values
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageResponse'
          description: Access token is missing or invalid
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/domains_show_404_response'
          description: Resource not found
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageResponse'
          description: Failed
      summary: Set custom NS records for the domain
      tags:
      - Domain
  /domains/{domain}/ns-keys/check:
    get:
      operationId: domains.nameservers.check
      parameters:
      - description: Domain name
        example: example.com
        explode: false
        in: path
        name: domain
        required: true
        schema:
          format: hostname
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/domains_nameservers_check_200_response'
          description: Successfully retrieve list of NS values
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageResponse'
          description: Access token is missing or invalid
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/domains_show_404_response'
          description: Resource not found
      summary: Check NS to find whether domain is activated
      tags:
      - Domain
  /domains/{domain}/dns-service/check-ns:
    put:
      deprecated: true
      operationId: domains.nameservers.deprecated-check
      parameters:
      - description: Domain name
        example: example.com
        explode: false
        in: path
        name: domain
        required: true
        schema:
          format: hostname
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/domains_nameservers_deprecated_check_200_response'
          description: Successfully queued checking domain's NS
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageResponse'
          description: Access token is missing or invalid
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/domains_show_404_response'
          description: Resource not found
      summary: Deprecated in favor /ns-keys/check
      tags:
      - Domain
  /domains/{domain}/ns-keys/use-optional-keys:
    post:
      operationId: domains.nameservers.optional
      parameters:
      - description: Domain name
        example: example.com
        explode: false
        in: path
        name: domain
        required: true
        schema:
          format: hostname
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NsKeysResponse'
          description: Optional keys are set
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageResponse'
          description: Access token is missing or invalid
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/domains_show_404_response'
          description: Resource not found
      summary: Use optional NS keys
      tags:
      - Domain
  /domains/{domain}/cname-setup/custom:
    delete:
      operationId: domains.cname-setup.reset
      parameters:
      - description: Domain name
        example: example.com
        explode: false
        in: path
        name: domain
        required: true
        schema:
          format: hostname
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DomainResponse'
          description: Successfully updated the custom cname record of the domain
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageResponse'
          description: Access token is missing or invalid
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/domains_store_422_response'
          description: The given data was invalid
      summary: Reset the custom record of CNAME Setup to the default value
      tags:
      - Domain
    put:
      operationId: domains.cname-setup.set
      parameters:
      - description: Domain name
        example: example.com
        explode: false
        in: path
        name: domain
        required: true
        schema:
          format: hostname
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CustomCname'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DomainResponse'
          description: Successfully updated the custom cname record of the domain
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageResponse'
          description: Access token is missing or invalid
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/domains_store_422_response'
          description: The given data was invalid
      summary: Set a custom record for using CNAME Setup
      tags:
      - Domain
  /domains/{domain}/cname-setup/convert:
    post:
      operationId: domains.cname-setup.convert
      parameters:
      - description: Domain name
        example: example.com
        explode: false
        in: path
        name: domain
        required: true
        schema:
          format: hostname
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DomainResponse'
          description: Successfully converted the domain to use CNAME Setup
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageResponse'
          description: Access token is missing or invalid
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/domains_store_422_response'
          description: The given data was invalid
      summary: Convert domain setup to cname
      tags:
      - Domain
  /domains/{domain}/cname-setup/check:
    get:
      operationId: domains.cname-setup.check
      parameters:
      - description: Domain name
        example: example.com
        explode: false
        in: path
        name: domain
        required: true
        schema:
          format: hostname
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DomainResponse'
          description: Successfully converted the domain to use CNAME Setup
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageResponse'
          description: Access token is missing or invalid
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/domains_show_404_response'
          description: Resource not found
      summary: Check Cname Setup to find whether domain is activated
      tags:
      - Domain
  /domains/{domain}/clone:
    post:
      operationId: domains.clone
      parameters:
      - description: Domain name
        example: example.com
        explode: false
        in: path
        name: domain
        required: true
        schema:
          format: hostname
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CloneDomain'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageResponse'
          description: Successful
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageResponse'
          description: Failed
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageResponse'
          description: Access token is missing or invalid
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/domains_show_404_response'
          description: Resource not found
      summary: Clone a domain config from another one
      tags:
      - Domain
  /domains/{domain}/regenerate:
    post:
      operationId: domains.regenerate
      parameters:
      - description: Domain name
        example: example.com
        explode: false
        in: path
        name: domain
        required: true
        schema:
          format: hostname
          type: string
        style: simple
      responses:
        "202":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageResponse'
          description: Successful
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageResponse'
          description: Access token is missing or invalid
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/domains_show_404_response'
          description: Resource not found
      summary: Regenerate domain settings for edge servers
      tags:
      - Domain
  /domains/transfer:
    get:
      operationId: domains.transfer.index
      parameters:
      - description: Set how many items returned per page
        explode: true
        in: query
        name: per_page
        required: false
        schema:
          type: integer
        style: form
      - description: Set the desired page number
        explode: true
        in: query
        name: page
        required: false
        schema:
          default: 1
          type: integer
        style: form
      - explode: true
        in: query
        name: type
        required: false
        schema:
          enum:
          - all
          - incoming
          - outgoing
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/domains_transfer_index_200_response'
          description: Lists all pending transfers
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageResponse'
          description: Access token is missing or invalid
      summary: Get the list of pending transfers
      tags:
      - Domain Transfer
  /domains/{domain}/transfer:
    post:
      operationId: domains.transfer.store
      parameters:
      - description: Domain name
        example: example.com
        explode: false
        in: path
        name: domain
        required: true
        schema:
          format: hostname
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TransferDomain'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DomainTransferData'
          description: the transfer request sent
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageResponse'
          description: Access token is missing or invalid
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/domains_show_404_response'
          description: Resource not found
      summary: Transfer domain to another account
      tags:
      - Domain Transfer
  /domains/transfer/change-status:
    post:
      operationId: domains.transfer.update
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TransferDomainChangeStatus'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageResponse'
          description: Successful
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageResponse'
          description: Access token is missing or invalid
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/domains_show_404_response'
          description: Resource not found
      summary: Accept or cancel transferring a domain
      tags:
      - Domain Transfer
  /plans:
    get:
      operationId: plans.index
      parameters:
      - description: Domain name or id
        explode: true
        in: query
        name: domain
        required: false
        schema:
          $ref: '#/components/schemas/plans_index_domain_parameter'
        style: form
      - description: Comma separaterd plan levels to ignore
        example: "0,1"
        explode: true
        in: query
        name: ignored_plans
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PlanResponse'
          description: List of feature defintions for plans based on different sets
      summary: Get the list of feature defintions for plans based on different sets
      tags:
      - Plan
  /domains/{domain}/plans:
    get:
      operationId: domains.plans
      parameters:
      - description: Domain name
        example: example.com
        explode: false
        in: path
        name: domain
        required: true
        schema:
          format: hostname
          type: string
        style: simple
      - description: Comma separaterd plan levels to ignore
        example: "0,1"
        explode: true
        in: query
        name: ignored_plans
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PlanResponse'
          description: List of feature defintions for plans based on different sets
      summary: Get the list of feature defintions for plans based on different sets
      tags:
      - Plan
  /domains/{domain}/plan:
    put:
      operationId: domains.plans.update
      parameters:
      - description: Domain name
        example: example.com
        explode: false
        in: path
        name: domain
        required: true
        schema:
          format: hostname
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PlanUpdate'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageResponse'
          description: Successful
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageResponse'
          description: Access token is missing or invalid
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/domains_show_404_response'
          description: Resource not found
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/domains_store_422_response'
          description: The given data was invalid
      summary: Update the domain's plan
      tags:
      - Plan
  /domains/{domain}/plan/violations:
    get:
      operationId: domains.plans.violations
      parameters:
      - description: Domain name
        example: example.com
        explode: false
        in: path
        name: domain
        required: true
        schema:
          format: hostname
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/domains_plans_violations_200_response'
          description: List of feature definitions and violations
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageResponse'
          description: Access token is missing or invalid
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/domains_show_404_response'
          description: Resource not found
      summary: Get violations based on plans
      tags:
      - Plan
  /domains/{domain}/plan/usages:
    get:
      operationId: domains.plans.usages
      parameters:
      - description: Domain name
        example: example.com
        explode: false
        in: path
        name: domain
        required: true
        schema:
          format: hostname
          type: string
        style: simple
      - explode: true
        in: query
        name: target_plan
        required: false
        schema:
          $ref: '#/components/schemas/Plan'
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/domains_plans_usages_200_response'
          description: List of features with usages and total estimated cost
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageResponse'
          description: Access token is missing or invalid
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/domains_show_404_response'
          description: Resource not found
      summary: Get usages based on features and an estimated cost
      tags:
      - Plan
  /domains/{domain}/dns-records:
    get:
      operationId: dns-records.index
      parameters:
      - description: Domain name
        example: example.com
        explode: false
        in: path
        name: domain
        required: true
        schema:
          format: hostname
          type: string
        style: simple
      - description: Search term
        explode: true
        in: query
        name: search
        required: false
        schema:
          type: string
        style: form
      - description: Type of a dns record. To filter multiple types separate them
          using a comma
        example: "a,cname,txt"
        explode: true
        in: query
        name: type
        required: false
        schema:
          type: string
        style: form
      - description: Set the desired page number
        explode: true
        in: query
        name: page
        required: false
        schema:
          default: 1
          type: integer
        style: form
      - description: Set how many items returned per page
        explode: true
        in: query
        name: per_page
        required: false
        schema:
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/dns_records_index_200_response'
          description: Successfully retrieved list of DNS records
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageResponse'
          description: Access token is missing or invalid
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/domains_show_404_response'
          description: Resource not found
      summary: Get list of DNS records
      tags:
      - DNS Management
    post:
      operationId: dns-records.store
      parameters:
      - description: Domain name
        example: example.com
        explode: false
        in: path
        name: domain
        required: true
        schema:
          format: hostname
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DnsRecord'
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DnsRecordResponse'
          description: Successfully created new DNS record
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageResponse'
          description: Access token is missing or invalid
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/domains_show_404_response'
          description: Resource not found
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/domains_store_422_response'
          description: The given data was invalid
      summary: Create new DNS record
      tags:
      - DNS Management
  /domains/{domain}/dns-records/{id}:
    delete:
      operationId: dns-records.destroy
      parameters:
      - description: Domain name
        example: example.com
        explode: false
        in: path
        name: domain
        required: true
        schema:
          format: hostname
          type: string
        style: simple
      - description: ID of the DNS record
        explode: false
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageResponse'
          description: Successful
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageResponse'
          description: Access token is missing or invalid
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/domains_show_404_response'
          description: Resource not found
      summary: Remove a DNS record
      tags:
      - DNS Management
    get:
      operationId: dns-records.show
      parameters:
      - description: Domain name
        example: example.com
        explode: false
        in: path
        name: domain
        required: true
        schema:
          format: hostname
          type: string
        style: simple
      - description: ID of the DNS record
        explode: false
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DnsRecordData'
          description: Successfully retrieved the record's information
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageResponse'
          description: Access token is missing or invalid
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/domains_show_404_response'
          description: Resource not found
      summary: Get information of a record
      tags:
      - DNS Management
    put:
      operationId: dns-records.update
      parameters:
      - description: Domain name
        example: example.com
        explode: false
        in: path
        name: domain
        required: true
        schema:
          format: hostname
          type: string
        style: simple
      - description: ID of the DNS record
        explode: false
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DnsRecord'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DnsRecordResponse'
          description: Successfully updated the record
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageResponse'
          description: Access token is missing or invalid
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/domains_show_404_response'
          description: Resource not found
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/domains_store_422_response'
          description: The given data was invalid
      summary: Update a DNS record
      tags:
      - DNS Management
  /domains/{domain}/dns-records/{id}/cloud:
    put:
      operationId: dns-records.cloud
      parameters:
      - description: Domain name
        example: example.com
        explode: false
        in: path
        name: domain
        required: true
        schema:
          format: hostname
          type: string
        style: simple
      - description: ID of the DNS record
        explode: false
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DnsRecordCloud'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DnsRecordResponse'
          description: Successfully updated cloud status
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageResponse'
          description: Access token is missing or invalid
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/domains_show_404_response'
          description: Resource not found
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/domains_store_422_response'
          description: The given data was invalid
      summary: "Toggle cloud status (To proxy or not proxy, that's the question!)"
      tags:
      - DNS Management
  /domains/{domain}/dns-records/import:
    post:
      operationId: dns-records.import
      parameters:
      - description: Domain name
        example: example.com
        explode: false
        in: path
        name: domain
        required: true
        schema:
          format: hostname
          type: string
        style: simple
      requestBody:
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/DnsRecordImport'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageResponse'
          description: Successful
      summary: Import DNS records using BIND file
      tags:
      - DNS Management
  /domains/{domain}/dns-records/dnssec:
    get:
      operationId: dns-records.dns-sec.show
      parameters:
      - description: Domain name
        example: example.com
        explode: false
        in: path
        name: domain
        required: true
        schema:
          format: hostname
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DnsSecData'
          description: Status and configuration of DNSSEC
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageResponse'
          description: Access token is missing or invalid
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/domains_show_404_response'
          description: Resource not found
      summary: Get status of DNSSEC
      tags:
      - DNS Management
  /domains/{domain}/dns-records/dnssec/actions:
    put:
      operationId: dns-records.dns-sec.update
      parameters:
      - description: Domain name
        example: example.com
        explode: false
        in: path
        name: domain
        required: true
        schema:
          format: hostname
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DnsSecStatus'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DnsSecData'
          description: Successfully updated DNSSEC status
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageResponse'
          description: Access token is missing or invalid
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/domains_show_404_response'
          description: Resource not found
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/domains_store_422_response'
          description: The given data was invalid
      summary: Update DNSSEC status
      tags:
      - DNS Management
  /domains/{domain}/caching:
    delete:
      deprecated: true
      description: |
        Purge CDN cache, either by URLs, tags, or the whole site.
        Purge by tag is only available for domains with Professional plan or higher.
      operationId: caching.deprecated_purge
      parameters:
      - description: Domain name
        example: example.com
        explode: false
        in: path
        name: domain
        required: true
        schema:
          format: hostname
          type: string
        style: simple
      - explode: true
        in: query
        name: purge
        required: true
        schema:
          description: tags is deprecated
          enum:
          - all
          - individual
          - tags
          type: string
        style: form
      - description: URLs to be purged from cache. Required if purge value is set
          to individual.
        explode: true
        in: query
        name: purge_urls
        required: false
        schema:
          items:
            format: url
            type: string
          maxItems: 50
          minItems: 1
          type: array
        style: form
      - deprecated: true
        description: |
          Tags to be purged from cache. Required if purge value is set to tags.
          Each tag must be 32 characters or less. Only ASCII characters are acceptable.
        explode: true
        in: query
        name: purge_tags
        required: false
        schema:
          items:
            type: string
          maxItems: 100
          minItems: 1
          type: array
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageResponse'
          description: Successful
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageResponse'
          description: Access token is missing or invalid
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/domains_show_404_response'
          description: Resource not found
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/domains_store_422_response'
          description: The given data was invalid
      summary: Purge CDN Cache
      tags:
      - Caching
    get:
      operationId: caching.index
      parameters:
      - description: Domain name
        example: example.com
        explode: false
        in: path
        name: domain
        required: true
        schema:
          format: hostname
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CacheSettingsData'
          description: Successfully retrieved caching settings
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageResponse'
          description: Access token is missing or invalid
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/domains_show_404_response'
          description: Resource not found
      summary: Get caching settings
      tags:
      - Caching
    patch:
      operationId: caching.update
      parameters:
      - description: Domain name
        example: example.com
        explode: false
        in: path
        name: domain
        required: true
        schema:
          format: hostname
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CacheSettings'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageResponse'
          description: Successful
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageResponse'
          description: Access token is missing or invalid
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/domains_show_404_response'
          description: Resource not found
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/domains_store_422_response'
          description: The given data was invalid
      summary: Update caching settings
      tags:
      - Caching
  /domains/{domain}/caching/purge:
    post:
      description: |
        Purge CDN cache, either by URLs, tags, or the whole site.
        Purge by tag is only available for domains with Professional plan or higher.
      operationId: caching.purge
      parameters:
      - description: Domain name
        example: example.com
        explode: false
        in: path
        name: domain
        required: true
        schema:
          format: hostname
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CachingPurge'
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageResponse'
          description: Successful
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageResponse'
          description: Access token is missing or invalid
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/domains_show_404_response'
          description: Resource not found
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/domains_store_422_response'
          description: The given data was invalid
      summary: Purge CDN Cache
      tags:
      - Caching
  /domains/{domain}/purge-tags:
    delete:
      deprecated: true
      operationId: purge_tags.destroy
      parameters:
      - description: Domain name
        example: example.com
        explode: false
        in: path
        name: domain
        required: true
        schema:
          format: hostname
          type: string
        style: simple
      - explode: true
        in: query
        name: tag
        required: true
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageResponse'
          description: Successful
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageResponse'
          description: Access token is missing or invalid
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/domains_show_404_response'
          description: Resource not found
      summary: Delete a Domain's Purge tag
      tags:
      - Caching
    get:
      deprecated: true
      description: Returns last 100 purged tags sorted by recency.
      operationId: purge_tags.index
      parameters:
      - description: Domain name
        example: example.com
        explode: false
        in: path
        name: domain
        required: true
        schema:
          format: hostname
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/purge_tags_index_200_response'
          description: Successfully retrieved Domain's Purge Tags
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageResponse'
          description: Access token is missing or invalid
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/domains_show_404_response'
          description: Resource not found
      summary: Get domain's Purge tags
      tags:
      - Caching
  /load-balancers/regions:
    get:
      operationId: load-balancers.regions.index
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/load_balancers_regions_index_200_response'
          description: Successfully retrieved list of regions for load balancers
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageResponse'
          description: Access token is missing or invalid
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/domains_show_404_response'
          description: Resource not found
      summary: Get list of regions for load balancers
      tags:
      - Load Balancing
  /domains/{domain}/load-balancers/settings:
    get:
      operationId: load-balancers.settings.show
      parameters:
      - description: Domain name
        example: example.com
        explode: false
        in: path
        name: domain
        required: true
        schema:
          format: hostname
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LoadBalancerSettingsData'
          description: Successfully retrieved list of settings
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageResponse'
          description: Access token is missing or invalid
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/domains_show_404_response'
          description: Resource not found
      summary: Get list of domain load balancer global settings
      tags:
      - Load Balancing
    patch:
      operationId: load-balancers.settings.update
      parameters:
      - description: Domain name
        example: example.com
        explode: false
        in: path
        name: domain
        required: true
        schema:
          format: hostname
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LoadBalancerSetting'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/load_balancers_settings_update_200_response'
          description: Successfully updated settings
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageResponse'
          description: Access token is missing or invalid
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/domains_show_404_response'
          description: Resource not found
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/domains_store_422_response'
          description: The given data was invalid
      summary: Update domain's global load balancer settings
      tags:
      - Load Balancing
  /domains/{domain}/load-balancers:
    get:
      operationId: load-balancers.index
      parameters:
      - description: Domain name
        example: example.com
        explode: false
        in: path
        name: domain
        required: true
        schema:
          format: hostname
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/load_balancers_index_200_response'
          description: Successfully retrieved list of load balancers
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageResponse'
          description: Access token is missing or invalid
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/domains_show_404_response'
          description: Resource not found
      summary: Get list of load balancers
      tags:
      - Load Balancing
    post:
      operationId: load-balancers.store
      parameters:
      - description: Domain name
        example: example.com
        explode: false
        in: path
        name: domain
        required: true
        schema:
          format: hostname
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LoadBalancerStore'
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LoadBalancerResponse'
          description: Successfully created load balancer
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageResponse'
          description: Access token is missing or invalid
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/domains_show_404_response'
          description: Resource not found
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/domains_store_422_response'
          description: The given data was invalid
      summary: Create a new load balancer
      tags:
      - Load Balancing
  /domains/{domain}/load-balancers/{loadBalancerId}:
    delete:
      operationId: load-balancers.destroy
      parameters:
      - description: Domain name
        example: example.com
        explode: false
        in: path
        name: domain
        required: true
        schema:
          format: hostname
          type: string
        style: simple
      - description: ID of the load balancer
        explode: false
        in: path
        name: loadBalancerId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageResponse'
          description: Successful
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageResponse'
          description: Access token is missing or invalid
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/domains_show_404_response'
          description: Resource not found
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/domains_store_422_response'
          description: The given data was invalid
      summary: Remove a load balancer
      tags:
      - Load Balancing
    get:
      operationId: load-balancers.show
      parameters:
      - description: Domain name
        example: example.com
        explode: false
        in: path
        name: domain
        required: true
        schema:
          format: hostname
          type: string
        style: simple
      - description: ID of the load balancer
        explode: false
        in: path
        name: loadBalancerId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LoadBalancerData'
          description: Successfully retrieved load balancer data
      summary: Get load balancer information
      tags:
      - Load Balancing
    patch:
      operationId: load-balancers.update
      parameters:
      - description: Domain name
        example: example.com
        explode: false
        in: path
        name: domain
        required: true
        schema:
          format: hostname
          type: string
        style: simple
      - description: ID of the load balancer
        explode: false
        in: path
        name: loadBalancerId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LoadBalancer'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LoadBalancerResponse'
          description: Successfully updated a load balancer
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageResponse'
          description: Access token is missing or invalid
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/domains_show_404_response'
          description: Resource not found
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/domains_store_422_response'
          description: The given data was invalid
      summary: Update a load balancer
      tags:
      - Load Balancing
  /domains/{domain}/load-balancers/{loadBalancerId}/pools:
    get:
      operationId: load-balancers.pools.index
      parameters:
      - description: Domain name
        example: example.com
        explode: false
        in: path
        name: domain
        required: true
        schema:
          format: hostname
          type: string
        style: simple
      - description: ID of the load balancer
        explode: false
        in: path
        name: loadBalancerId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/load_balancers_pools_index_200_response'
          description: Successfully retrieved list of pools of the load balancers
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageResponse'
          description: Access token is missing or invalid
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/domains_show_404_response'
          description: Resource not found
      summary: Get the list of pools of a load balancers
      tags:
      - Load Balancing
    post:
      operationId: load-balancers.pools.store
      parameters:
      - description: Domain name
        example: example.com
        explode: false
        in: path
        name: domain
        required: true
        schema:
          format: hostname
          type: string
        style: simple
      - description: ID of the load balancer
        explode: false
        in: path
        name: loadBalancerId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LoadBalancerPoolStore'
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LoadBalancerPoolResponse'
          description: Successfully created pool of the load balancer
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageResponse'
          description: Access token is missing or invalid
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/domains_show_404_response'
          description: Resource not found
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/domains_store_422_response'
          description: The given data was invalid
      summary: Create a new pool for the load balancer
      tags:
      - Load Balancing
  /domains/{domain}/load-balancers/{loadBalancerId}/prioritize:
    post:
      operationId: load-balancers.prioritize_pool
      parameters:
      - description: Domain name
        example: example.com
        explode: false
        in: path
        name: domain
        required: true
        schema:
          format: hostname
          type: string
        style: simple
      - description: ID of the load balancer
        explode: false
        in: path
        name: loadBalancerId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PrioritizePool'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LoadBalancerResponse'
          description: Successfully prioritized pools in the load balancer
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageResponse'
          description: Access token is missing or invalid
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/domains_show_404_response'
          description: Resource not found
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/domains_store_422_response'
          description: The given data was invalid
      summary: Reorder the priority of load balancer pools
      tags:
      - Load Balancing
  /domains/{domain}/load-balancers/{loadBalancerId}/pools/{loadBalancerPoolId}:
    delete:
      operationId: load-balancers.pools.destroy
      parameters:
      - description: Domain name
        example: example.com
        explode: false
        in: path
        name: domain
        required: true
        schema:
          format: hostname
          type: string
        style: simple
      - description: ID of the load balancer
        explode: false
        in: path
        name: loadBalancerId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - description: ID of a pool of the load balancer
        explode: false
        in: path
        name: loadBalancerPoolId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageResponse'
          description: Successful
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageResponse'
          description: Access token is missing or invalid
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/domains_show_404_response'
          description: Resource not found
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/domains_store_422_response'
          description: The given data was invalid
      summary: Remove a load balancer pool
      tags:
      - Load Balancing
    get:
      operationId: load-balancers.pools.show
      parameters:
      - description: Domain name
        example: example.com
        explode: false
        in: path
        name: domain
        required: true
        schema:
          format: hostname
          type: string
        style: simple
      - description: ID of the load balancer
        explode: false
        in: path
        name: loadBalancerId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - description: ID of a pool of the load balancer
        explode: false
        in: path
        name: loadBalancerPoolId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LoadBalancerPoolData'
          description: Successfully retrieved load balancer pool data
      summary: Get load balancer pool information
      tags:
      - Load Balancing
    patch:
      operationId: load-balancers.pools.updatePool
      parameters:
      - description: Domain name
        example: example.com
        explode: false
        in: path
        name: domain
        required: true
        schema:
          format: hostname
          type: string
        style: simple
      - description: ID of the load balancer
        explode: false
        in: path
        name: loadBalancerId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - description: ID of a pool of the load balancer
        explode: false
        in: path
        name: loadBalancerPoolId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LoadBalancerPool'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LoadBalancerPoolResponse'
          description: Successfully updated a load balancer
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageResponse'
          description: Access token is missing or invalid
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/domains_show_404_response'
          description: Resource not found
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/domains_store_422_response'
          description: The given data was invalid
      summary: Update an existing load balancer pool
      tags:
      - Load Balancing
    put:
      operationId: load-balancers.pools.update
      parameters:
      - description: Domain name
        example: example.com
        explode: false
        in: path
        name: domain
        required: true
        schema:
          format: hostname
          type: string
        style: simple
      - description: ID of the load balancer
        explode: false
        in: path
        name: loadBalancerId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - description: ID of a pool of the load balancer
        explode: false
        in: path
        name: loadBalancerPoolId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LoadBalancerPoolStore'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LoadBalancerPoolResponse'
          description: Successfully updated a load balancer
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageResponse'
          description: Access token is missing or invalid
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/domains_show_404_response'
          description: Resource not found
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/domains_store_422_response'
          description: The given data was invalid
      summary: Update an existing load balancer pool with origins
      tags:
      - Load Balancing
  /domains/{domain}/load-balancers/{loadBalancerId}/pools/{loadBalancerPoolId}/origins:
    get:
      operationId: load-balancers.pools.origins.index
      parameters:
      - description: Domain name
        example: example.com
        explode: false
        in: path
        name: domain
        required: true
        schema:
          format: hostname
          type: string
        style: simple
      - description: ID of the load balancer
        explode: false
        in: path
        name: loadBalancerId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - description: ID of a pool of the load balancer
        explode: false
        in: path
        name: loadBalancerPoolId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/load_balancers_pools_origins_index_200_response'
          description: Successfully retrieved list of origins of a pool
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageResponse'
          description: Access token is missing or invalid
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/domains_show_404_response'
          description: Resource not found
      summary: Get list of origins of a pool
      tags:
      - Load Balancing
    post:
      operationId: load-balancers.pools.origins.store
      parameters:
      - description: Domain name
        example: example.com
        explode: false
        in: path
        name: domain
        required: true
        schema:
          format: hostname
          type: string
        style: simple
      - description: ID of the load balancer
        explode: false
        in: path
        name: loadBalancerId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - description: ID of a pool of the load balancer
        explode: false
        in: path
        name: loadBalancerPoolId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LoadBalancerOriginStore'
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LoadBalancerOriginResponse'
          description: Successfully created load balancer
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageResponse'
          description: Access token is missing or invalid
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/domains_show_404_response'
          description: Resource not found
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/domains_store_422_response'
          description: The given data was invalid
      summary: Create a new origin in the pool of the load balancer
      tags:
      - Load Balancing
  /domains/{domain}/load-balancers/{loadBalancerId}/pools/{loadBalancerPoolId}/origins/{loadBalancerPoolOriginId}:
    delete:
      operationId: load-balancers.pools.origins.destroy
      parameters:
      - description: Domain name
        example: example.com
        explode: false
        in: path
        name: domain
        required: true
        schema:
          format: hostname
          type: string
        style: simple
      - description: ID of the load balancer
        explode: false
        in: path
        name: loadBalancerId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - description: ID of a pool of the load balancer
        explode: false
        in: path
        name: loadBalancerPoolId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - description: ID of an origin of the pool in the load balancer
        explode: false
        in: path
        name: loadBalancerPoolOriginId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageResponse'
          description: Successful
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageResponse'
          description: Access token is missing or invalid
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/domains_show_404_response'
          description: Resource not found
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/domains_store_422_response'
          description: The given data was invalid
      summary: Remove an origin from the pool of the load balancer
      tags:
      - Load Balancing
    get:
      operationId: load-balancers.pools.origins.show
      parameters:
      - description: Domain name
        example: example.com
        explode: false
        in: path
        name: domain
        required: true
        schema:
          format: hostname
          type: string
        style: simple
      - description: ID of the load balancer
        explode: false
        in: path
        name: loadBalancerId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - description: ID of a pool of the load balancer
        explode: false
        in: path
        name: loadBalancerPoolId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - description: ID of an origin of the pool in the load balancer
        explode: false
        in: path
        name: loadBalancerPoolOriginId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LoadBalancerOriginData'
          description: Successfully retrieved the origin data
      summary: Get load balancer origin information
      tags:
      - Load Balancing
    patch:
      operationId: load-balancers.pools.origins.update
      parameters:
      - description: Domain name
        example: example.com
        explode: false
        in: path
        name: domain
        required: true
        schema:
          format: hostname
          type: string
        style: simple
      - description: ID of the load balancer
        explode: false
        in: path
        name: loadBalancerId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - description: ID of a pool of the load balancer
        explode: false
        in: path
        name: loadBalancerPoolId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - description: ID of an origin of the pool in the load balancer
        explode: false
        in: path
        name: loadBalancerPoolOriginId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LoadBalancerOrigin'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LoadBalancerOriginResponse'
          description: Successfully updated the origin of the pool
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageResponse'
          description: Access token is missing or invalid
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/domains_show_404_response'
          description: Resource not found
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/domains_store_422_response'
          description: The given data was invalid
      summary: Update an existing origin of the pool
      tags:
      - Load Balancing
  /domains/{domain}/page-rules:
    get:
      operationId: page-rules.index
      parameters:
      - description: Domain name
        example: example.com
        explode: false
        in: path
        name: domain
        required: true
        schema:
          format: hostname
          type: string
        style: simple
      - description: Search term
        explode: true
        in: query
        name: search
        required: false
        schema:
          type: string
        style: form
      - description: Set how many items returned per page
        explode: true
        in: query
        name: per_page
        required: false
        schema:
          type: integer
        style: form
      - description: Set the desired page number
        explode: true
        in: query
        name: page
        required: false
        schema:
          default: 1
          type: integer
        style: form
      - description: Sort page rules in ascending or descending order base on seq
        explode: true
        in: query
        name: order
        required: false
        schema:
          default: desc
          enum:
          - desc
          - asc
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/page_rules_index_200_response'
          description: Successfully retrieved list of page-rules
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageResponse'
          description: Access token is missing or invalid
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/domains_show_404_response'
          description: Resource not found
      summary: Get list of page-rules
      tags:
      - Page Rule
    post:
      operationId: page-rules.store
      parameters:
      - description: Domain name
        example: example.com
        explode: false
        in: path
        name: domain
        required: true
        schema:
          format: hostname
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PageRule'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PageRuleResponse'
          description: Successfully created new page-rule
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageResponse'
          description: Access token is missing or invalid
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/domains_show_404_response'
          description: Resource not found
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/domains_store_422_response'
          description: The given data was invalid
      summary: Create new page-rule
      tags:
      - Page Rule
  /domains/{domain}/page-rules/{id}:
    delete:
      operationId: page-rules.destroy
      parameters:
      - description: Domain name
        example: example.com
        explode: false
        in: path
        name: domain
        required: true
        schema:
          format: hostname
          type: string
        style: simple
      - explode: false
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageResponse'
          description: Successful
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageResponse'
          description: Access token is missing or invalid
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/domains_show_404_response'
          description: Resource not found
      summary: Delete the page-rule
      tags:
      - Page Rule
    get:
      operationId: page-rules.show
      parameters:
      - description: Domain name
        example: example.com
        explode: false
        in: path
        name: domain
        required: true
        schema:
          format: hostname
          type: string
        style: simple
      - explode: false
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PageRuleData'
          description: Successfully retrieved page-rule information
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageResponse'
          description: Access token is missing or invalid
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/domains_show_404_response'
          description: Resource not found
      summary: Get the page-rule's information
      tags:
      - Page Rule
    patch:
      operationId: page-rules.status.update
      parameters:
      - description: Domain name
        example: example.com
        explode: false
        in: path
        name: domain
        required: true
        schema:
          format: hostname
          type: string
        style: simple
      - explode: false
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateBooleanStatus'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageResponse'
          description: Successful
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageResponse'
          description: Access token is missing or invalid
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/domains_show_404_response'
          description: Resource not found
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/domains_store_422_response'
          description: The given data was invalid
      summary: Toggle status of the page-rule
      tags:
      - Page Rule
    put:
      operationId: page-rules.update
      parameters:
      - description: Domain name
        example: example.com
        explode: false
        in: path
        name: domain
        required: true
        schema:
          format: hostname
          type: string
        style: simple
      - explode: false
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PageRule'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PageRuleResponse'
          description: Successfully updated page-rule information
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageResponse'
          description: Access token is missing or invalid
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/domains_show_404_response'
          description: Resource not found
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/domains_store_422_response'
          description: The given data was invalid
      summary: Update the page-rule
      tags:
      - Page Rule
  /domains/{domain}/page-rules/{id}/purge:
    delete:
      operationId: page-rules.purge
      parameters:
      - description: Domain name
        example: example.com
        explode: false
        in: path
        name: domain
        required: true
        schema:
          format: hostname
          type: string
        style: simple
      - explode: false
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageResponse'
          description: Successful
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageResponse'
          description: Access token is missing or invalid
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/domains_show_404_response'
          description: Resource not found
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/domains_store_422_response'
          description: The given data was invalid
      summary: Purge the page-rule
      tags:
      - Page Rule
  /domains/{domain}/page-rules/{id}/diff:
    get:
      operationId: page-rules.diff.show
      parameters:
      - description: Domain name
        example: example.com
        explode: false
        in: path
        name: domain
        required: true
        schema:
          format: hostname
          type: string
        style: simple
      - explode: false
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PageRuleDiffData'
          description: Successfully retrieved page-rule information
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageResponse'
          description: Access token is missing or invalid
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/domains_show_404_response'
          description: Resource not found
      summary: Get the page-rule's exceptions
      tags:
      - Page Rule
    patch:
      operationId: page-rules.diff.update
      parameters:
      - description: Domain name
        example: example.com
        explode: false
        in: path
        name: domain
        required: true
        schema:
          format: hostname
          type: string
        style: simple
      - explode: false
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PageRule'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/page_rules_diff_update_200_response'
          description: Successfully updated page-rule
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageResponse'
          description: Access token is missing or invalid
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/domains_show_404_response'
          description: Resource not found
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/domains_store_422_response'
          description: The given data was invalid
      summary: Update the page-rule's exceptions
      tags:
      - Page Rule
  /domains/{domain}/image-resize:
    get:
      operationId: image-resize.get
      parameters:
      - description: Domain name
        example: example.com
        explode: false
        in: path
        name: domain
        required: true
        schema:
          format: hostname
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ImageResizeResponse'
          description: Successful
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageResponse'
          description: Access token is missing or invalid
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/domains_show_404_response'
          description: Resource not found
      summary: Get the content of image resize settings
      tags:
      - Acceleration
    patch:
      operationId: image-resize.update
      parameters:
      - description: Domain name
        example: example.com
        explode: false
        in: path
        name: domain
        required: true
        schema:
          format: hostname
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ImageResize'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ImageResizeResponse'
          description: Successful
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageResponse'
          description: Access token is missing or invalid
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/domains_show_404_response'
          description: Resource not found
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/domains_store_422_response'
          description: The given data was invalid
      summary: Update the content of image resize settings
      tags:
      - Acceleration
  /domains/{domain}/acceleration:
    get:
      operationId: acceleration.index
      parameters:
      - description: Domain name
        example: example.com
        explode: false
        in: path
        name: domain
        required: true
        schema:
          format: hostname
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccelerationResponse'
          description: Successful
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageResponse'
          description: Access token is missing or invalid
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/domains_show_404_response'
          description: Resource not found
      summary: Get the content of acceleration settings
      tags:
      - Acceleration
    patch:
      operationId: acceleration.update
      parameters:
      - description: Domain name
        example: example.com
        explode: false
        in: path
        name: domain
        required: true
        schema:
          format: hostname
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AccelerationUpdate'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccelerationResponse'
          description: Successful
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageResponse'
          description: Access token is missing or invalid
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/domains_show_404_response'
          description: Resource not found
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/domains_store_422_response'
          description: The given data was invalid
      summary: Update the content of acceleration settings
      tags:
      - Acceleration
  /domains/{domain}/custom-pages:
    get:
      operationId: custom-pages.get
      parameters:
      - description: Domain name
        example: example.com
        explode: false
        in: path
        name: domain
        required: true
        schema:
          format: hostname
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomPagesData'
          description: Successful
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageResponse'
          description: Access token is missing or invalid
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/domains_show_404_response'
          description: Resource not found
      summary: Get list of custom pages
      tags:
      - Custom Pages
    post:
      operationId: custom-pages.update
      parameters:
      - description: Domain name
        example: example.com
        explode: false
        in: path
        name: domain
        required: true
        schema:
          format: hostname
          type: string
        style: simple
      requestBody:
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/CustomPageUpdate'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageResponse'
          description: Successful
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageResponse'
          description: Access token is missing or invalid
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/domains_show_404_response'
          description: Resource not found
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/domains_store_422_response'
          description: The given data was invalid
      summary: Update custom page
      tags:
      - Custom Pages
  /domains/{domain}/settings/www-redirect:
    get:
      operationId: redirect.show
      parameters:
      - description: Domain name
        example: example.com
        explode: false
        in: path
        name: domain
        required: true
        schema:
          format: hostname
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RedirectData'
          description: Success
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageResponse'
          description: Access token is missing or invalid
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/domains_show_404_response'
          description: Resource not found
      summary: Get redirect settings
      tags:
      - Redirect
    put:
      operationId: redirect.update
      parameters:
      - description: Domain name
        example: example.com
        explode: false
        in: path
        name: domain
        required: true
        schema:
          format: hostname
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Redirect'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageResponse'
          description: Successful
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageResponse'
          description: Access token is missing or invalid
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/domains_show_404_response'
          description: Resource not found
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/domains_store_422_response'
          description: The given data was invalid
      summary: Update redirect settings
      tags:
      - Redirect
  /domains/{domain}/log-forwarders:
    get:
      operationId: log-forwarders.index
      parameters:
      - description: Domain name
        example: example.com
        explode: false
        in: path
        name: domain
        required: true
        schema:
          format: hostname
          type: string
        style: simple
      - description: Set how many items returned per page
        explode: true
        in: query
        name: per_page
        required: false
        schema:
          type: integer
        style: form
      - description: Set the desired page number
        explode: true
        in: query
        name: page
        required: false
        schema:
          default: 1
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/log_forwarders_index_200_response'
          description: List of log forwarders
[...]
